In [1]:
import pandas as pd

In [2]:
# Name the file variable
file = 'EPA_Walkability_Data.csv'

# Load the CSV into a Dataframe
epa_df = pd.read_csv(file)
epa_df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05

In [3]:
list(epa_df)

['OBJECTID',
 'GEOID10',
 'GEOID20',
 'STATEFP',
 'COUNTYFP',
 'TRACTCE',
 'BLKGRPCE',
 'CSA',
 'CSA_Name',
 'CBSA',
 'CBSA_Name',
 'CBSA_POP',
 'CBSA_EMP',
 'CBSA_WRK',
 'Ac_Total',
 'Ac_Water',
 'Ac_Land',
 'Ac_Unpr',
 'TotPop',
 'CountHU',
 'HH',
 'P_WrkAge',
 'AutoOwn0',
 'Pct_AO0',
 'AutoOwn1',
 'Pct_AO1',
 'AutoOwn2p',
 'Pct_AO2p',
 'Workers',
 'R_LowWageWk',
 'R_MedWageWk',
 'R_HiWageWk',
 'R_PCTLOWWAGE',
 'TotEmp',
 'E5_Ret',
 'E5_Off',
 'E5_Ind',
 'E5_Svc',
 'E5_Ent',
 'E8_Ret',
 'E8_off',
 'E8_Ind',
 'E8_Svc',
 'E8_Ent',
 'E8_Ed',
 'E8_Hlth',
 'E8_Pub',
 'E_LowWageWk',
 'E_MedWageWk',
 'E_HiWageWk',
 'E_PctLowWage',
 'D1A',
 'D1B',
 'D1C',
 'D1C5_RET',
 'D1C5_OFF',
 'D1C5_IND',
 'D1C5_SVC',
 'D1C5_ENT',
 'D1C8_RET',
 'D1C8_OFF',
 'D1C8_IND',
 'D1C8_SVC',
 'D1C8_ENT',
 'D1C8_ED',
 'D1C8_HLTH',
 'D1C8_PUB',
 'D1D',
 'D1_FLAG',
 'D2A_JPHH',
 'D2B_E5MIX',
 'D2B_E5MIXA',
 'D2B_E8MIX',
 'D2B_E8MIXA',
 'D2A_EPHHM',
 'D2C_TRPMX1',
 'D2C_TRPMX2',
 'D2C_TRIPEQ',
 'D2R_JOBPOP',
 'D2R_WRKEMP',
 'D2A_WRKEMP',
 'D2C_WREMLX',
 'D3A',
 'D3AAO',
 'D3AMM',
 'D3APO',
 'D3B',
 'D3BAO',
 'D3BMM3',
 'D3BMM4',
 'D3BPO3',
 'D3BPO4',
 'D4A',
 'D4B025',
 'D4B050',
 'D4C',
 'D4D',
 'D4E',
 'D5AR',
 'D5AE',
 'D5BR',
 'D5BE',
 'D5CR',
 'D5CRI',
 'D5CE',
 'D5CEI',
 'D5DR',
 'D5DRI',
 'D5DE',
 'D5DEI',
 'D2A_Ranked',
 'D2B_Ranked',
 'D3B_Ranked',
 'D4A_Ranked',
 'NatWalkInd',
 'Shape_Length',
 'Shape_Area']

In [4]:
epa_df.count()

OBJECTID        220740
GEOID10         220739
GEOID20         220740
STATEFP         220740
COUNTYFP        220740
                 ...
D3B_Ranked      220740
D4A_Ranked      220740
NatWalkInd      220740
Shape_Length    220740
Shape_Area      220740
Length: 117, dtype: int64

In [5]:
# Selecting Necessary Columns and Renaming Columns
epa_columns_df = epa_df[['GEOID10', 'GEOID20', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'NatWalkInd', 'CountHU', 'TotPop', 'Pct_AO0', 'Pct_AO1', 'Pct_AO2p', 'R_PCTLOWWAGE', 'D1A', 'D1B', 'D1C', 'D3APO', 'D4D']]
epa_columns_df

,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,NatWalkInd,CountHU,TotPop,Pct_AO0,Pct_AO1,Pct_AO2p,R_PCTLOWWAGE,D1A,D1B,D1C,D3APO,D4D
0,4.811300e+11,4.811300e+11,48,113,7825,14.000000,460.0,1202,0.163121,0.092199,0.744681,0.240291,6.250422,16.332625,0.896800,12.879623,37.654717
1,4.811300e+11,4.811300e+11,48,113,7825,10.833333,409.0,710,0.000000,0.410758,0.589242,0.192405,3.430799,5.955666,0.209707,19.278747,23.126113
2,4.811300e+11,4.811300e+11,48,113,7825,8.333333,365.0,737,0.057751,0.434650,0.507599,0.293737,13.843035,27.951553,0.000000,5.470714,72.818150
3,4.811300e+11,4.811300e+11,48,113,7824,15.666667,384.0,904,0.000000,0.111979,0.888021,0.139211,3.225246,7.592767,2.124967,20.646233,35.853984
4,4.811300e+11,4.811300e+11,48,113,7824,10.166667,343.0,948,0.014577,0.195335,0.790087,0.157168,2.305992,6.373413,0.215136,16.592921,25.121345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,7.803100e+11,7.803100e+11,78,30,961000,7.333333,685.0,1471,0.000000,0.000000,0.000000,0.000000,8.761019,18.813808,0.000000,33.948142,-99999.000000
220736,7.803100e+11,7.803100e+11,78,30,961000,7.333333,581.0,940,0.000000,0.000000,0.000000,0.000000,8.040306,13.008412,0.000000,39.675163,-99999.000000
220737,7.803100e+11,7.803100e+11,78,30,961000,7.333333,502.0,878,0.000000,0.000000,0.000000,0.000000,12.545333,21.941838,0.000000,32.111446,-99999.000000
220738,7.803100e+11,7.803100e+11,78,30,960700,4.000000,1208.0,1278,0.000000,0.000000,0.000000,0.000000,1.404107,1.485471,0.000000,14.317255,-99999.000000
220739,7.803100e+11,7.803100e+11,78,30,960200,4.666667,731.0,1640,0.000000,0.000000,0.000000,0.000000,4.838135,10.854366,0.000000,24.809100,-99999.000000

In [6]:
epa_renamed_df = epa_columns_df.rename(
    columns={'GEOID10':'2010 Census ID',
            'GEOID20': '2018 Census ID',
            'STATEFP': 'State FIPS',
            'COUNTYFP': 'County FIPS',
            'TRACTCE': 'Tract FIPS',
            'NatWalkInd': 'Walkability',
            'CountHU': 'Number of Households',
            'TotPop': 'Total Population',
            'Pct_AO0': '% 0 Vehicle HH',
            'Pct_AO1': '% 1 Vehicle HH',
            'Pct_AO2p': '% 2+ Vehicle HH',
            'R_PCTLOWWAGE': '% Low Wage Workers',
            'D1A': 'Residential Density',
            'D1B': 'Population Density',
            'D1C': 'Employment Density',
            'D3APO': 'Pedestrian Network Density',
            'D4D': 'Transit Frequency'})

epa_renamed_df

,2010 Census ID,2018 Census ID,State FIPS,County FIPS,Tract FIPS,Walkability,Number of Households,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,% Low Wage Workers,Residential Density,Population Density,Employment Density,Pedestrian Network Density,Transit Frequency
0,4.811300e+11,4.811300e+11,48,113,7825,14.000000,460.0,1202,0.163121,0.092199,0.744681,0.240291,6.250422,16.332625,0.896800,12.879623,37.654717
1,4.811300e+11,4.811300e+11,48,113,7825,10.833333,409.0,710,0.000000,0.410758,0.589242,0.192405,3.430799,5.955666,0.209707,19.278747,23.126113
2,4.811300e+11,4.811300e+11,48,113,7825,8.333333,365.0,737,0.057751,0.434650,0.507599,0.293737,13.843035,27.951553,0.000000,5.470714,72.818150
3,4.811300e+11,4.811300e+11,48,113,7824,15.666667,384.0,904,0.000000,0.111979,0.888021,0.139211,3.225246,7.592767,2.124967,20.646233,35.853984
4,4.811300e+11,4.811300e+11,48,113,7824,10.166667,343.0,948,0.014577,0.195335,0.790087,0.157168,2.305992,6.373413,0.215136,16.592921,25.121345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,7.803100e+11,7.803100e+11,78,30,961000,7.333333,685.0,1471,0.000000,0.000000,0.000000,0.000000,8.761019,18.813808,0.000000,33.948142,-99999.000000
220736,7.803100e+11,7.803100e+11,78,30,961000,7.333333,581.0,940,0.000000,0.000000,0.000000,0.000000,8.040306,13.008412,0.000000,39.675163,-99999.000000
220737,7.803100e+11,7.803100e+11,78,30,961000,7.333333,502.0,878,0.000000,0.000000,0.000000,0.000000,12.545333,21.941838,0.000000,32.111446,-99999.000000
220738,7.803100e+11,7.803100e+11,78,30,960700,4.000000,1208.0,1278,0.000000,0.000000,0.000000,0.000000,1.404107,1.485471,0.000000,14.317255,-99999.000000
220739,7.803100e+11,7.803100e+11,78,30,960200,4.666667,731.0,1640,0.000000,0.000000,0.000000,0.000000,4.838135,10.854366,0.000000,24.809100,-99999.000000

In [7]:
# Check for missing values
epa_renamed_df.isnull().sum()

2010 Census ID                  1
2018 Census ID                  0
State FIPS                      0
County FIPS                     0
Tract FIPS                      0
Walkability                     0
Number of Households          275
Total Population                0
% 0 Vehicle HH                  0
% 1 Vehicle HH                  0
% 2+ Vehicle HH                 0
% Low Wage Workers              0
Residential Density           271
Population Density              0
Employment Density              0
Pedestrian Network Density      0
Transit Frequency               1
dtype: int64

In [8]:
# Will need to find new dataset on housing density so as not to skew results.
# Drop two columns with significant null values
epa_renamed_df.drop(['Number of Households', 'Residential Density'], axis=1, inplace=True)

epa_renamed_df.isnull().sum()

2010 Census ID                1
2018 Census ID                0
State FIPS                    0
County FIPS                   0
Tract FIPS                    0
Walkability                   0
Total Population              0
% 0 Vehicle HH                0
% 1 Vehicle HH                0
% 2+ Vehicle HH               0
% Low Wage Workers            0
Population Density            0
Employment Density            0
Pedestrian Network Density    0
Transit Frequency             1
dtype: int64

In [9]:
# Drop null rows
epa_clean_df = epa_renamed_df.dropna(how='any')

In [10]:
# Verify that null values are dropped
epa_clean_df.isnull().sum()

2010 Census ID                0
2018 Census ID                0
State FIPS                    0
County FIPS                   0
Tract FIPS                    0
Walkability                   0
Total Population              0
% 0 Vehicle HH                0
% 1 Vehicle HH                0
% 2+ Vehicle HH               0
% Low Wage Workers            0
Population Density            0
Employment Density            0
Pedestrian Network Density    0
Transit Frequency             0
dtype: int64

In [11]:
# Drop Census Tract IDs
epa_columns_df = epa_clean_df[['2010 Census ID', 'Tract FIPS','State FIPS', 'County FIPS', 'Walkability', 'Total Population', '% 0 Vehicle HH', '% 1 Vehicle HH', '% 2+ Vehicle HH', 'Pedestrian Network Density', 'Transit Frequency']]
epa_columns_df.set_index(['State FIPS'], inplace=True)
epa_columns_df

,2010 Census ID,Tract FIPS,County FIPS,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,Pedestrian Network Density,Transit Frequency
State FIPS,,,,,,,,,,
48,4.811300e+11,7825,113,14.000000,1202,0.163121,0.092199,0.744681,12.879623,37.654717
48,4.811300e+11,7825,113,10.833333,710,0.000000,0.410758,0.589242,19.278747,23.126113
48,4.811300e+11,7825,113,8.333333,737,0.057751,0.434650,0.507599,5.470714,72.818150
48,4.811300e+11,7824,113,15.666667,904,0.000000,0.111979,0.888021,20.646233,35.853984
48,4.811300e+11,7824,113,10.166667,948,0.014577,0.195335,0.790087,16.592921,25.121345
...,...,...,...,...,...,...,...,...,...,...
78,7.803100e+11,961000,30,7.333333,1471,0.000000,0.000000,0.000000,33.948142,-99999.000000
78,7.803100e+11,961000,30,7.333333,940,0.000000,0.000000,0.000000,39.675163,-99999.000000
78,7.803100e+11,961000,30,7.333333,878,0.000000,0.000000,0.000000,32.111446,-99999.000000
78,7.803100e+11,960700,30,4.000000,1278,0.000000,0.000000,0.000000,14.317255,-99999.000000
78,7.803100e+11,960200,30,4.666667,1640,0.000000,0.000000,0.000000,24.809100,-99999.000000

In [12]:
#Open the state FIPS code CSV
state_code_file = 'StatesFIPSCodes.csv'
state_df = pd.read_csv(state_code_file)
state_df.head()

   STATE_FIPS STUSAB  STATE_NAME  STATENS
0           1     AL     Alabama  1779775
1           2     AK      Alaska  1785533
2           4     AZ     Arizona  1779777
3           5     AR    Arkansas    68085
4           6     CA  California  1779778

In [13]:
state_columns_df = state_df[['STATE_FIPS', 'STATE_NAME']]
state_columns_df.head()

   STATE_FIPS  STATE_NAME
0           1     Alabama
1           2      Alaska
2           4     Arizona
3           5    Arkansas
4           6  California

In [14]:
state_renamed_df = state_columns_df.rename(
    columns={'STATE_FIPS':'State FIPS',
            'STATE_NAME': 'State'})
state_renamed_df.set_index(['State FIPS'], inplace=True)
state_renamed_df.head()

                 State
State FIPS
1              Alabama
2               Alaska
4              Arizona
5             Arkansas
6           California

In [15]:
#Open the county FIPS code CSV
county_code_file = 'county_fips.csv'
county_df = pd.read_csv(county_code_file)
county_df

       fips               name state
0         0      UNITED STATES   NaN
1      1000            ALABAMA   NaN
2      1001     Autauga County    AL
3      1003     Baldwin County    AL
4      1005     Barbour County    AL
...     ...                ...   ...
3190  56037  Sweetwater County    WY
3191  56039       Teton County    WY
3192  56041       Uinta County    WY
3193  56043    Washakie County    WY
3194  56045      Weston County    WY

[3195 rows x 3 columns]

In [16]:
# Drop null rows
county_full_df = county_df.dropna(how='any')
county_full_df

       fips               name state
2      1001     Autauga County    AL
3      1003     Baldwin County    AL
4      1005     Barbour County    AL
5      1007        Bibb County    AL
6      1009      Blount County    AL
...     ...                ...   ...
3190  56037  Sweetwater County    WY
3191  56039       Teton County    WY
3192  56041       Uinta County    WY
3193  56043    Washakie County    WY
3194  56045      Weston County    WY

[3143 rows x 3 columns]

In [17]:
# Choose county columns
county_columns_df = county_full_df[['fips', 'name']]
county_columns_df

       fips               name
2      1001     Autauga County
3      1003     Baldwin County
4      1005     Barbour County
5      1007        Bibb County
6      1009      Blount County
...     ...                ...
3190  56037  Sweetwater County
3191  56039       Teton County
3192  56041       Uinta County
3193  56043    Washakie County
3194  56045      Weston County

[3143 rows x 2 columns]

In [18]:
county_renamed_df = county_columns_df.rename(
    columns={'fips':'County FIPS',
            'name': 'County'})
county_renamed_df.set_index(['County FIPS'], inplace=True)
county_renamed_df.head()

                     County
County FIPS
1001         Autauga County
1003         Baldwin County
1005         Barbour County
1007            Bibb County
1009          Blount County

In [19]:
print(epa_columns_df['County FIPS'].unique())

[113 329 339 355 421 439 107 331 207 245 497 183  53 309 247 277 323 487
 441  39 445 159 427 135 453 375 215 237 501 357 471 259 257 387 221 369
 507 367 297 203 475 303  29 449  27 187   3  45 239 199 193 185 201  21
 253 157 381  61 479 451  19  55 299 251   7  85 223 141 181 249 485 409
 411  99 177 467  87 473 361  41 491 233 423 109 425 481  47 469  15  25
  91 229 335  35 209 161 167 291 149 283 265 261 349  83 121 241  63 461
  69 325 189 275 341 105 217 147 465 499 351 493  89 295 503 463 389  77
 495 455  13 219 165  37 129 145 321 139 125  79  65  59 213 347 285  97
 287 211 273  31 123 337 127   9 163 243 171 151 131 137 153  43 235  49
 489 173  73 179 115 359 435 429 365 405 117 293  67 281 317 143 443 457
  51 111 195 305 315 363 327 133 263 393 407  23 333 279   1 415 477 191
 175 459 307 313 231 103 119  11 395 267 413  81 269 155 431 419 383 437
 401  71 227 371 225 353  93 379 289 373  75 345 301 319 397 385 271 311
 391 377 399 483 447 505  33 255 417 343  17 403 433  95   5  57 197 205
 169 101 550 680 700 540 730 740 510 710 800 760 810 820 580 570 660 775
 620 630 610 770 683 790 590 650 640 735 685 670 690 720 840 678 520 750
 830  36 530 595 600 130 180  90  20 122  60 150 230 220 170 188  70  16
 240 198 100 290 110  50 158  68 164 282  12  14  86 186   6  28 102  78
  10  30  40 120  54]

In [20]:
epa_states = epa_columns_df.merge(state_renamed_df, how='inner', on='State FIPS')
epa_states.set_index(['State'], inplace=True)
epa_states

,2010 Census ID,Tract FIPS,County FIPS,Walkability,Total Population,% 0 Vehicle HH,% 1 Vehicle HH,% 2+ Vehicle HH,Pedestrian Network Density,Transit Frequency
State,,,,,,,,,,
Texas,4.811300e+11,7825,113,14.000000,1202,0.163121,0.092199,0.744681,12.879623,37.654717
Texas,4.811300e+11,7825,113,10.833333,710,0.000000,0.410758,0.589242,19.278747,23.126113
Texas,4.811300e+11,7825,113,8.333333,737,0.057751,0.434650,0.507599,5.470714,72.818150
Texas,4.811300e+11,7824,113,15.666667,904,0.000000,0.111979,0.888021,20.646233,35.853984
Texas,4.811300e+11,7824,113,10.166667,948,0.014577,0.195335,0.790087,16.592921,25.121345
...,...,...,...,...,...,...,...,...,...,...
U.S. Virgin Islands,7.803100e+11,961000,30,7.333333,1471,0.000000,0.000000,0.000000,33.948142,-99999.000000
U.S. Virgin Islands,7.803100e+11,961000,30,7.333333,940,0.000000,0.000000,0.000000,39.675163,-99999.000000
U.S. Virgin Islands,7.803100e+11,961000,30,7.333333,878,0.000000,0.000000,0.000000,32.111446,-99999.000000
U.S. Virgin Islands,7.803100e+11,960700,30,4.000000,1278,0.000000,0.000000,0.000000,14.317255,-99999.000000
U.S. Virgin Islands,7.803100e+11,960200,30,4.666667,1640,0.000000,0.000000,0.000000,24.809100,-99999.000000

In [21]:
# epa_counties = epa_states.merge(county_renamed_df, how='inner', on='County FIPS', right_index=True)
# epa_counties

In [22]:
# Name the file variable
food_file = 'food_access_clean.csv'

# Load the CSV into a Dataframe
food_df = pd.read_csv(food_file, names=['Census Tract Number', 'State', 'County', 'LILA 1 and 10', 'LILA 0.5 and 10', 'LILA 1 and 20', 'LILA Vehicle'])
food_df

,Census Tract Number,State,County,LILA 1 and 10,LILA 0.5 and 10,LILA 1 and 20,LILA Vehicle
0,1001020100,Alabama,Autauga County,0,0,0,0
1,1001020200,Alabama,Autauga County,1,1,1,0
2,1001020300,Alabama,Autauga County,0,0,0,0
3,1001020400,Alabama,Autauga County,0,0,0,0
4,1001020500,Alabama,Autauga County,0,0,0,0
...,...,...,...,...,...,...,...
72526,56043000200,Wyoming,Washakie County,0,0,0,0
72527,56043000301,Wyoming,Washakie County,0,0,0,0
72528,56043000302,Wyoming,Washakie County,0,0,0,0
72529,56045951100,Wyoming,Weston County,0,0,0,0
72530,56045951300,Wyoming,Weston County,0,0,0,0